name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Install cmake && g++
        run: sudo apt install -y cmake g++
        
      - name: Install SFML
        working-directory: ${{ runner.temp }}
        run: sudo apt install -y libsfml-dev && sudo ldconfig
        
      - uses: actions/checkout@v2

      - run: mkdir build && cd build && cmake .. && make -j16

      - uses: actions/upload-artifact@v2
        with:
          name: my-artifact
          path: build/Forgotten
